.app-home-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .about {
        font-family: 'Roboto', sans-serif;
        font-size: 14pt;
        width: 25rem;
    }
}
