$green: rgb(46, 158, 36);
$dark-green: rgb(36, 124, 28);

.app-light-green-button {
    margin-bottom: 0.5rem;
    align-self: flex-end;
    padding: 0.5rem;
    border: 0em;
    color: #FFF;
    font-size: 12pt;
    font-family:  sans-serif;
    background-color: $green;    
    border-radius: 2px;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color:  $dark-green;
    }
}
