$green: rgb(46, 158, 36);
$dark-green: rgb(36, 124, 28);

.app-search-bar {
    padding: 3rem;

    & > .input {
        width: 30rem;
        padding: 0.8em;
        padding-right: 1.5rem;
        border: 1px solid  rgb(214, 214, 214);
        border-radius: 2px;
        border-style: solid none solid solid;
        font-family: serif;
        font-size: 12pt;
        color: rgb(112, 111, 111);  
        margin-right: -1rem;
        outline:none;
    }

    & > .button { 
        padding: 0.8em 1em;
        border: 0em;
        color: #FFF;
        font-size: 12pt;
        font-family: serif;
        background-color: $green;
        border: 1px solid  $green;
        border-radius: 0px 2px 2px 0px;
        cursor: pointer;
        outline: none;
    
        &:hover {
            background-color:  $dark-green;
            border: 1px solid  $dark-green
        }
    }
    
    & > .keywords {
        width: 35.5rem;
        display: flex;
        flex-direction: row;
        max-width: fit-content;
        position: absolute;
        flex-wrap: wrap;
    }
}
